@import "_bourbon";
@import "_color";
@import "_mixins";

:host {
	position:fixed;
	clip: rect(0,0,0,0);
	line-height: 0em;
	font-size: 0em;
}

@include fit();

.cp-container {
	box-sizing: border-box;
	position: relative;
	background: $color-F0;
	border: 1px solid $color-A8;
	overflow: hidden;

	._mm_close_icon {
		display: none;
	}

	&._mm_popover,
	&._mm_tooltip {
		border-radius: 4px 4px 4px 4px;
		box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.18);

		&._mm_bottom {
			margin-top: 10px;
		}

		&._mm_top {
			margin-bottom: 10px;
		}

		&._mm_left {
			margin-right: 10px;
		}

		&._mm_right {
			margin-left: 10px;
		}
	}

	&._mm_dropdown {
		&._mm_bottom {
			border-radius: 0px 0px 4px 4px;
			box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.18);
		}

		&._mm_top {
			border-radius: 4px 4px 0px 0px;
			box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.18);
		}
	}

	&._mm_tooltip {
		background: $color-A1;
		border: none;
		padding:10px;

		/* default _mm_tooltip font styling */ 
		@include fontSmoothing();
		font-family: "Arimo", sans-serif;
		font-size: 12px;
		line-height: 15px;
		color: $color-F0;

		polyfill-next-selector { content: 'a' }
		::content a {
			color: $color-F0;
		}

		._mm_close_icon {
			position: absolute;
			display: none;
			cursor: pointer;

			&._mm_visible {
				display: block;
			}
		}

		/* arrow appears at TOP */	
		&._mm_close {
			padding: 16px;

			._mm_close_icon {
				top: 8px;
				right: 8px;
			}
		}
	}
}

._mm_arrow {
	&._mm_popover,
	&._mm_tooltip {
		&._mm_bottom,
		&._mm_top,
		&._mm_bottom,
		&._mm_left,
		&._mm_right {
			&:after, 
			&:before {
				right: auto;
				bottom: auto;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
		}

		/* arrow appears at TOP */	
		&._mm_bottom {
			&:after, 
			&:before {
				top: auto;
				left: 50%;
			}

			&._mm_right,
			&._mm_left {
				display: none;
			}

			&:after {
				top:-9px;
				border-color: rgba(255, 255, 255, 0);
				border-bottom-color: $color-F0;
				border-width: 10px;
				margin-left: -10px;
			}

			&:before {
				top:-11px;
				border-color: rgba(204, 204, 204, 0);
				border-bottom-color: $color-A8;
				border-width: 11px;
				margin-left: -11px;
			}
		}

		/* arrow appears at BOTTOM */	
		&._mm_top {
			&:after, 
			&:before {
				top: auto;
				left: 50%;
			}

			&._mm_right,
			&._mm_left {
				display: none;
			}

			&:after {
				bottom:-9px;
				border-color: rgba(255, 255, 255, 0);
				border-top-color: $color-F0;
				border-width: 10px;
				margin-left: -10px;
			}

			&:before {
				bottom:-11px;
				border-color: rgba(204, 204, 204, 0);
				border-top-color: $color-A8;
				border-width: 11px;
				margin-left: -11px;
			}
		}

		/* arrow appears at RIGHT */	
		&._mm_left {
			&:after, 
			&:before {
				top: 50%;
				left: auto;
			}

			&:after {
				border-color: rgba(255, 255, 255, 0);
				border-left-color: $color-F0;
				border-width: 10px;
				margin-left: -10px;
				margin-top: -10px;
			}

			&:before {
				border-color: rgba(204, 204, 204, 0);
				border-left-color: $color-A8;
				border-width: 11px;
				margin-left: -11px;
				margin-top: -11px;
			}
		}

		&._mm_bottom._mm_left,
		&._mm_top._mm_left {
			&:after {
				right:-9px;
			}

			&:before {
				right:-11px;
			}
		}

		&._mm_center._mm_left {
			&:after {
				right:-9px;
			}

			&:before {
				right:-11px;
			}
		}

		/* arrow appears at LEFT */	
		&._mm_right {
			&:after, 
			&:before {
				top: 50%;
				left: auto;
			}

			&:after {
				border-color: rgba(255, 255, 255, 0);
				border-right-color: $color-F0;
				border-width: 10px;
				margin-right: -10px;
				margin-top: -10px;
			}

			&:before {
				border-color: rgba(204, 204, 204, 0);
				border-right-color: $color-A8;
				border-width: 11px;
				margin-right: -11px;
				margin-top: -11px;
			}
		}

		&._mm_bottom._mm_right,
		&._mm_top._mm_right {
			&:after {
				left: 1px;
			}

			&:before {
				left: 0px;
			}
		}

		&._mm_center._mm_right {
			&:after {
				left: -9px;
			}
			
			&:before {
				left: -11px;
			}
		}
	}
	
	&._mm_tooltip {
		&._mm_bottom,
		&._mm_top,
		&._mm_bottom,
		&._mm_left,
		&._mm_right {
			&:before {
				border: none;
			}
		}

		/* arrow appears at TOP */	
		&._mm_bottom {
			&:after {
				top:-2px;
				border-color: rgba(255, 255, 255, 0);
				border-bottom-color: $color-A1;
				border-width: 6px;
				margin-left: -6px;
			}

			&:before {
				top:0;
				border-width:0;
				margin-left:0;
			}
		}

		/* arrow appears at BOTTOM */	
		&._mm_top {
			&:after {
				bottom:-2px;
				border-color: rgba(255, 255, 255, 0);
				border-top-color: $color-A1;
				border-width: 6px;
				margin-left: -6px;
			}

			&:before {
				bottom:0;
				border-width: 0;
				margin-left: 0;
			}
		}

		/* arrow appears at RIGHT */	
		&._mm_left {
			&:after {
				border-color: rgba(255, 255, 255, 0);
				border-left-color: $color-A1;
				border-width: 6px;
				margin-left: -6px;
				margin-top: -6px;
			}

			&:before {
				border-width: 0;
				margin-left: 0;
				margin-top: 0;
			}
		}

		&._mm_bottom._mm_left,
		&._mm_top._mm_left {
			&:after {
				right:-10px;
			}

			&:before {
				right: auto;
			}
		}

		&._mm_center._mm_left {
			&:after {
				right:-2px;
			}

			&:before {
				right: auto;
			}
		}

		/* arrow appears at LEFT */	
		&._mm_right {
			&:after {
				border-color: rgba(255, 255, 255, 0);
				border-right-color: $color-A1;
				border-width: 6px;
				margin-right: -6px;
				margin-top: -6px;
			}

			&:before {
				border-width: 0;
				margin-right: 0;
				margin-top: 0;
			}
		}

		&._mm_bottom._mm_right,
		&._mm_top._mm_right {
			&:after {
				left: 0px;
			}

			&:before {
				left: auto;
			}
		}

		&._mm_center._mm_right {
			&:after {
				left: -2px;
			}
			
			&:before {
				left: auto;
			}
		}
	}
}