/* mm-dropdown sass */
@import "_bourbon";
@import "_color";
@import "_button";
@import "_dropdown";
@import "_mixins";

:host {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 0em;
	line-height: 0em;
}

:host('[disabled]') {
	pointer-events:none;
	opacity: 0.5;
}

@include fit();

:host('[disabled]') {
	pointer-events:none;
	opacity: 0.5;
}

::shadow input[type=text]:focus {
	box-shadow: none;
}

#recycler {
	height: 100%;
}
