@import 'color';

.container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.has-bottom-margin {
	margin-bottom: 6px;
}

.row-wrapper {
	display: flex;
	align-content: space-between;
	position: relative;
	width: 100%;
}

:host ::content,
.content-wrapper {
	display: flex;
	align-content: flex-start;
	align-items: center;
	flex: 1;
}

.content-wrapper ::content > :not(:last-child) {
	margin-right: 8px;
}

.hidden {
	display: none;
	pointer-events: none;
}

.control {
	width: auto;
}

.add-row {
	cursor: pointer;
	margin: 0 10px;
}

.remove-row {
	color: $color-A6;
	cursor: pointer;
}

.error-container {
	position: relative;
	overflow: hidden;
	max-height: 0;
	opacity: 0;
	transition: opacity .8s ease-out, max-height 2s ease-out;
	// transition: max-height 2s ease-out;
}

.error-container.visible {
	max-height: 200px;
	opacity: 1;
}

// @keyframes rollDown {
// 	from { max-height: 0; }
// 	to { max-height: 512px; }
// }

// @keyframes fadeIn {
// 	from { opacity: 0; }
// 	to { opacity: 1; }
// }

// .error-message[visible] {
// 	animation: 5s rollDown ease-out, 300ms fadeIn ease-out;
// 	will-change: max-height;
// }

[hidden] {
	display: none;
	pointer-events: none;
}
