@import "_bourbon";
@import "_mixins";
@import "_docs_theme";

$footerWideHeight: 200px;
$footerSkinnyHeight: 360px;

/* -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* global styling */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {    
	background: $white;
	color: $textColor;
	font-size: 1em;
	line-height: 1.5;
	@include fontSmoothing();
	overflow-x: hidden;
	overflow-y: auto; 
}

p {
	display: block;
	margin: 20px 0;
}

a {
	color: $linkColor;
	cursor: pointer;

	&:hover {
		text-decoration: none;
	}
}

ul, li {
	margin: 0;
	padding: 0;
}

ul {
	padding-left: 2em;
	margin: 0.625em 0;
}

code {
	@include fontSmoothing(auto);
	box-sizing: border-box;
	background-color: $bgGray;
	font-family: monospace;
	border: none;
	display: inline-block;
	padding: 0 0.5em;
	white-space: pre-wrap;
}

pre code {
	padding: 0.5em 1em !important;
}

hr {
	outline: none;
	border:0;
	height: 1px;
	background: $borderColor;
	margin: 20px 0;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	color: $headlineColor;
	font-weight: 400;
	margin: 0;
	padding: 0;
	margin: 20px 0;
}

h1 {
	font-size: 2em;
	border-bottom: 1px solid $borderColor;
}

h2 {
	font-size: 1.5em;
}

pre {
	margin: 20px 0;
}

section:last-child {
	margin-bottom: 20px;
}

/* END global styling */
/* -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* strand-docs-shell specific styling */
.layout-article {
	height: auto !important;
	min-height: 100%;
}

.layout-footer,
.layout-push {
	position: relative;
}

.layout-footer {
	background: $footerColor;
}

.mini-subhead {
	font-family: "Arial", sans-serif;
	line-height: 9px;
	font-size: 9px;
	font-weight:400;
	color: $textColor;
	text-transform: uppercase;
	margin: 0 !important;
}

.docs-content,
.docs-footer,
.intro-content {
	box-sizing: border-box;
	font-family: "Arimo", Helvetica, arial, sans-serif;
	padding: 0 2.5em;
	max-width: 64.5em;
	margin: 0 auto;
}

.docs-content {
	margin: 0 auto 40px auto;
}

.docs-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	box-sizing: border-box;
	height: 100%;

	.strand-logo {
		display: block;

		img {
			width: 218px;
			height: auto;
		}
	}

	.version {
		position: absolute;
		left: 109px;
		top: 81px;
	}
}


.docs-footer {
	padding: 2.5em;
	height: 100%;

	.footer-logo-box {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.powered-by,
	.mediamath  {
		margin: 0 1.25em;
	}

	.powered-by {
		.powered-logo {
			display: block;
			background: url(images/mediamath-technology-logo.svg) no-repeat;
			background-size: 220px 25px;
			width: 220px;
			height: 25px;
		}
	}

	.mediamath {
		.mediamath-logo {
			display: block;
			background: url(images/mediamath-logo.svg) no-repeat;
			background-size: 99px 60px;
			width: 99px;
			height: 60px;
		}
	}

	.license {
		width: 100%;
		text-align: center;
		line-height: 1.25em;
		margin-bottom: 0;
	}
}

#articlesNav strand-list-item,
#componentsNav strand-list-item {
	padding: 10px 20px;
	border-top: 1px solid $borderColorLight;
	font-size: 14px !important;
	line-height: 1.5 !important;
}

#articlesNav strand-list-item.child,
#componentsNav strand-list-item.child {
	padding-left: 40px;
}

/* END shell specific styling */
/* -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* editor styling */
.editor-wrapper {
	position: relative;
	box-sizing: border-box;
	border: 1px solid $borderColor;
	min-height: 300px;
}

#editor {
	position: absolute;
	z-index: 0;
	top:0;
	right:0;
	bottom:0;
	left:0;
}
/* END editor styling */
/* -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* table styling */ 
table {
	background: $white;
	width: 100%;
	border-collapse: collapse;
	font-size: 0.875em;
	line-height: 1.5;

	&:not(:last-child) {
		margin-bottom: 30px;
	}

	td, th {
		border: 1px solid $borderColor;
		vertical-align: top;
		text-align: left;
		padding: 10px 20px;
	}

	th {
		background: $bgGray;
		font-weight: normal;
	}

	td {
		width:50%;

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		.arg {
			display: block;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}

		.option {
			display: inline-block;
			white-space: normal;

			&:not(:last-child):after {
				content: ",";
				margin-right: 5px;
			}
		}
	}
}
/* END table styling */ 
/* -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* example styling */
.example {
	display: flex;
	flex-direction: column;
	@include justify-content(flex-start);
	box-sizing: border-box;
	padding: 1.25em;
	background: $bgGray;

	& > * {
		@include align-self(flex-start);
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	ul, li {
		list-style: none;
		margin:0;
		padding:0;
	}

	li {
		display: inline-block;
		width: 80px;
		text-align: center;
		margin:10px 5px;
	}

	li p {
		margin:0;
		padding: 0;
	}
}
/* END example styling */
/* -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* ace styling */
.ace-chrome .ace_gutter {
  background: $bgGray !important;
}
/* END ace styling */
/* -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* intro specific styling */
.hp-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	background: $mainNavBg;

	.docs-logo {
		.strand-logo {
			margin: 1.25em;
		}
	}

	.docs-btns {
		margin: 1.25em;

		strand-action {
			&:not(:last-of-type) {
				margin-right: 20px;
			}

			label {
				font-size: 15px !important;
			}
		}
	}
}

.docs-content.intro {
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

.intro-block {
	box-sizing: border-box;

	&.top {
		background: $bgGray;
	}

	.intro-content.top {
		display: flex;
		align-items: center;
		flex-direction: row;
		box-sizing: border-box;

		.hero-image {
			width: 45%;
			height: auto;
			margin: 40px;
		}

		.hero-text {
			width: 55%;
			margin: 40px;

			h1 {
				height: auto;
				line-height: 1.5;
				border: none;
			}
		}
	}

	.intro-content.bottom {
		display: flex;
		flex-direction: row;
		box-sizing: border-box;

		.hero-block {
			width: 33%;
			margin: 40px 20px;

			p {
				margin-bottom: 0;
			}

			.hero-img {
				background: $bgGray;
				overflow: hidden;
				width: 100%;
				height: 150px;
				text-align: center;

				img {
					width: auto;
					height: 100%;
				}
			}
		}
	}
}
/* END intro specific styling */
/* -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* media queries */
@media (min-width: 769px) {
	h1 {
		height: 4.125em;
		line-height: 4.125em;
		margin-top: 0;
		padding-bottom: 0;
	}

	.layout-article {
		margin-bottom: -$footerWideHeight;
	}

	.intro-block {
		.intro-content.top {
			.hero-text {
				text-align: left;
			}
		}
	}

	.layout-footer,
	.layout-push {
		height: $footerWideHeight;
	}
}

@media (min-width: 0px) and (max-width: 768px) {
	h1 {
		height: auto;
		line-height: 1;
		margin-top: 20px;
		padding-bottom: 0.625em;
	}

	.hp-header {
		.docs-btns {
			margin: 1.25em auto;
		}
	}

	.layout-article {
		margin-bottom: -$footerWideHeight;
	}

	.intro-block {
		.intro-content.top {
			align-items: flex-start;
			flex-direction: column;

			.hero-image {
				width: 50%;
				margin: 40px auto; 
			}

			.hero-text {
				width: 100%;
				margin: 0 auto 40px auto;
				text-align: center;

				h1 {
					height: auto;
					line-height: 1;
					margin: 0;
					padding: 0;
				}

				p { 
					margin: 20px 0 0 0;
				}
			}
		}

		.intro-content.bottom {
			flex-direction: column;

			.hero-block {
				width: 100%;
				margin: 0 0 40px 0;

				&:first-of-type {
					margin-top: 40px;
				}
			}
		}
	}

	.layout-footer,
	.layout-push {
		height: $footerWideHeight;
	}

	.docs-footer {
		.footer-logo-box {
			flex-direction: row;
		}
	}
}

@media (min-width: 0px) and (max-width: 549px) {
	.layout-article {
		margin-bottom: -$footerSkinnyHeight;
	}

	.layout-footer,
	.layout-push {
		height: $footerSkinnyHeight;
	}

	.hp-header {
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;

		.docs-logo {
			display: none;
		}
	}

	.docs-footer {
		.footer-logo-box {
			flex-direction: column;
		}

		.powered-by,
		.mediamath {
			margin: 1.25em 0;
		}
	}
}
