@import "_bourbon";
@import "_mixins";

$linkColor: #4d99bf;
$white: #fff;
$textColor: #333;
$bgGray: #f8f8f8;
$headlineColor: #ff3366;
$borderColor: rgba(51,51,51, 0.2);
$borderColorLight: rgba(51,51,51, 0.07);
$footerColor: #f8f8f8;
$mainNavBg: #e4e1ef;

$footerWideHeight: 200px;
$footerSkinnyHeight: 400px;

/* -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* global styling */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {    
	background: $white;
	color: $textColor;
	font-size: 1em;
	line-height: 1.5;
	@include fontSmoothing();
	overflow-x: hidden;
	overflow-y: auto; 
}

p {
	display: block;
	margin: 20px 0;
}

a {
	color: $linkColor;
	cursor: pointer;

	&:hover {
		text-decoration: none;
	}
}

ul, li {
	margin: 0;
	padding: 0;
}

ul {
	padding-left: 2em;
	margin: 0.625em 0;
}

code {
	@include fontSmoothing(auto);
	box-sizing: border-box;
	background-color: $bgGray;
	font-family: monospace;
	border: none;
	display: inline-block;
	padding: 0 0.5em;
	white-space: pre-wrap;
}

pre code {
	padding: 0.5em 1em !important;
}

hr {
	outline: none;
	border:0;
	height: 1px;
	background: $borderColor;
	margin: 20px 0;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	color: $headlineColor;
	font-weight: 400;
	margin: 0;
	padding: 0;
	margin: 20px 0;
}

h1 {
	font-size: 2em;
	border-bottom: 1px solid $borderColor;
}

h2 {
	font-size: 1.5em;
}

pre {
	margin: 20px 0;
}

section:last-child {
	margin-bottom: 20px;
}

/* END global styling */
/* -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* mm-docs-shell specific styling */
.layout-article {
	height: auto !important;
	min-height: 100%;
}

.footer,
.layout-push {
	position: relative;
}

.mini-subhead {
	font-family: "Arial", sans-serif;
	line-height: 9px;
	font-size: 9px;
	font-weight:400;
	color: $textColor;
	text-transform: uppercase;
	margin: 0 !important;
}

.docs-content,
.docs-footer,
.intro-content {
	box-sizing: border-box;
	font-family: "Arimo", Helvetica, arial, sans-serif;
	padding: 0 2.5em;
	max-width: 62.5em;
	margin: 0 auto;
}

.docs-content {
	margin: 0 auto 40px auto;
}

.docs-logo {
	position: relative;
	box-sizing: border-box;
	height: 100%;

	.strand-logo {
		display: block;
		background: url(http://squareproduct.com/temp/images/strand-logo.svg) no-repeat;
		background-size: 218px 65px;
		background-position: center center;
		width: 100%;
		height: 100%;
		border-bottom: 1px solid $borderColor;
		margin-bottom: -1px;
	}

	.version {
		position: absolute;
		left: 110px;
		top: 86px;
	}
}

.footer {
	background: $footerColor;
}

.docs-footer {
	padding: 2.5em;
	height: 100%;

	.footer-logo-box {
		@include displayFlex();
		@include flexVerticalAlign(center);
		@include flexJustify(center);
	}

	.powered-by,
	.mediamath  {
		margin: 0 1.25em;
	}

	.powered-by {
		.powered-logo {
			display: block;
			background: url(http://squareproduct.com/temp/images/mm-technology-logo.svg) no-repeat;
			background-size: 220px 25px;
			width: 220px;
			height: 25px;
		}
	}

	.mediamath {
		.mediamath-logo {
			display: block;
			background: url(http://squareproduct.com/temp/images/mm-logo.svg) no-repeat;
			background-size: 99px 60px;
			width: 99px;
			height: 60px;
		}
	}

	.license {
		width: 100%;
		text-align: center;
		line-height: 1.25em;
	}
}

polyfill-next-selector { content: 'mm-docs-shell #mobileHeader'; }
mm-docs-shell::shadow #mobileHeader {
	background: $bgGray;
}

polyfill-next-selector { content: "mm-docs-shell .layout-article"; }
mm-docs-shell::shadow  .layout-article {
	background: $white;
}

polyfill-next-selector { content: "mm-docs-shell #mainNav"; }
mm-docs-shell::shadow  #mainNav {
	background: $mainNavBg;
}

polyfill-next-selector { content: "mm-docs-shell #mobileHeader"; }
mm-docs-shell::shadow  #mobileHeader {
	background: $mainNavBg;
}

#articlesNav mm-list-item,
#componentsNav mm-list-item {
	padding: 10px 20px;
	border-top: 1px solid $borderColorLight;
	font-size: 14px !important;
	line-height: 1.5 !important;
}

#articlesNav mm-list-item.child,
#componentsNav mm-list-item.child {
	padding-left: 40px;
}

/* END shell specific styling */
/* -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* intro specific styling */
.docs-content.intro {
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

.intro-block:first-child {
	padding: 0 0 1.25em 0;	
}

.intro-content {
	padding: 0 2.5em;
}

.intro-content:first-child {
	padding-top: 0;
}

/* END intro specific styling */
/* -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* editor styling */
.editor-wrapper {
	position: relative;
	box-sizing: border-box;
	border: 1px solid $borderColor;
	min-height: 300px;
}

.editor {
	position: absolute;
	z-index: 0;
	top:0;
	right:0;
	bottom:0;
	left:0;
}
/* END editor styling */
/* -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* table styling */ 
table {
	background: $white;
	width: 100%;
	border-collapse: collapse;
	font-size: 0.875em;
	line-height: 1.5;

	&:not(:last-child) {
		margin-bottom: 30px;
	}

	td, th {
		border: 1px solid $borderColor;
		vertical-align: top;
		text-align: left;
		padding: 10px 20px;
	}

	th {
		background: $bgGray;
		font-weight: normal;
	}

	td {
		width:50%;

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		.arg {
			display: block;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}

		.option {
			display: inline-block;
			white-space: normal;

			&:not(:last-child):after {
				content: ",";
				margin-right: 5px;
			}
		}
	}
}
/* END table styling */ 
/* -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* example styling */
.example {
	@include displayFlex(flex);
	@include flexDirection(column);
	@include flexJustify(start);
	box-sizing: border-box;
	padding: 1.25em;
	background: $bgGray;

	& > * {
		@include alignSelf(flex-start);
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	ul, li {
		list-style: none;
		margin:0;
		padding:0;
	}

	li {
		display: inline-block;
		width: 80px;
		text-align: center;
		margin:10px 5px;
	}

	li p {
		margin:0;
		padding: 0;
	}
}
/* END example styling */
/* -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* ace styling */
.ace-chrome .ace_gutter {
  background: $bgGray !important;
}
/* END ace styling */
/* -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* home page styling */
.hp-header {
	@include displayFlex();
	@include flexVerticalAlign(center);
	@include flexJustify(space-between);
	width: 100%;
	background: $mainNavBg;

	.docs-logo {
		width: 240px;
		height: 100px;
		
		.strand-logo {
			border-bottom: none;
		}

		.version {
			left: 96px;
			top: 68px;
		}
	}

	.docs-btns {
		padding: 1.25em;

		mm-button:not(:last-of-type) {
			margin-right: 10px;
		}
	}
}




/* END home page styling */
/* -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* media queries */
@media (min-width: 769px) {
	h1 {
		min-height: 4.125em;
		line-height: 4.125em;
		margin-top: 0;
		padding-bottom: 0;
	}

	.layout-article {
		margin-bottom: -$footerWideHeight;
	}

	.footer,
	.layout-push {
		height: $footerWideHeight;
	}
}

@media (min-width: 0px) and (max-width: 768px) {
	h1 {
		min-height: 0;
		line-height: 1;
		margin-top: 20px;
		padding-bottom: 0.625em;
	}

	.docs-footer {
		.footer-logo-box {
			@include flexDirection(row);
		}
	}
}

@media (max-width: 480px) {
	.layout-article {
		margin-bottom: -$footerSkinnyHeight;
	}

	.footer,
	.layout-push {
		height: $footerSkinnyHeight;
	}

	.docs-footer {
		.footer-logo-box {
			@include flexDirection(column);
		}

		.powered-by,
		.mediamath {
			margin: 1.25em 0;
		}
	}
}

