@import "_bourbon";
@import "_color";
@import "_mixins";

:host {
	position: relative;
	display: block;
	font-size: 0em;
	line-height: 0em;
}

@include fit();

.footer {
	border-top: $color-A9 solid 1px;
	background-color: $color-A12;
	padding: 15px;
	@include clearfix;
}

.button-group {
	@include displayFlex();
	@include flexVerticalAlign();
	@include flexJustify(flex-end);
	float: right;
}

.message-area {
	float: left;
	padding: 6px 0 5px 0;
}

mm-inline-box {
	display: none;
}

polyfill-next-selector { content: 'mm-button:not(:last-child), mm-action:not(:last-child)'; }
::content mm-button:not(:last-child),
::content mm-action:not(:last-child) {
	margin-right: 10px;
}